h3 Regular. All colors. Pure colors. No buttons. All child elements
.all_colors_no_button
    regular-tile(tile-classes="t_turquoise", cap="Sale")
    regular-tile(tile-classes="t_sun_flower", cap="Sale")
    regular-tile(tile-classes="t_orange", cap="Sale")
    regular-tile(tile-classes="t_nephritis", cap="Sale")
    regular-tile(tile-classes="t_carrot", cap="Sale")
    regular-tile(tile-classes="t_pumpkin", cap="Sale")
    regular-tile(tile-classes="t_peter_river", cap="Sale")
    regular-tile(tile-classes="t_belize_hole", cap="Sale")
    regular-tile(tile-classes="t_alizarin", cap="Sale")
    regular-tile(tile-classes="t_wisteria", cap="Sale")
h3 Regular. All colors. Pure colors. One button. All child elements
.all_colors_one_button
    regular-tile(tile-classes="t_turquoise", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_sun_flower", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_orange", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_nephritis", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_carrot", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_pumpkin", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_peter_river", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_belize_hole", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_alizarin", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_wisteria", cap="Sale", buttons="1")
.all_colors_m_buttons
    regular-tile(tile-classes="t_turquoise", cap="Sale", buttons="9")
    regular-tile(tile-classes="t_sun_flower", cap="Sale", buttons="9")
    regular-tile(tile-classes="t_orange", cap="Sale", buttons="9")
    regular-tile(tile-classes="t_nephritis", cap="Sale", buttons="9")
    regular-tile(tile-classes="t_carrot", cap="Sale", buttons="9")
    regular-tile(tile-classes="t_pumpkin", cap="Sale", buttons="9")
    regular-tile(tile-classes="t_peter_river", cap="Sale", buttons="9")
    regular-tile(tile-classes="t_belize_hole", cap="Sale", buttons="9")
    regular-tile(tile-classes="t_alizarin", cap="Sale", buttons="9")
    regular-tile(tile-classes="t_wisteria", cap="Sale", buttons="9")
h3 Regular. Colors override for children elements t_turquoise
.all_colors_overide_tests
    regular-tile(tile-classes="t_turquoise")
    regular-tile(tile-classes="t_turquoise")
    regular-tile(tile-classes="t_turquoise", buttons="1")
    regular-tile(tile-classes="t_turquoise", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_turquoise", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_turquoise", buttons="1")
    regular-tile(tile-classes="t_turquoise", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_turquoise", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_turquoise", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_turquoise", cap="Sale")
h3 Regular. Colors override for children elements t_sun_flower
.all_colors_overide_tests
    regular-tile(tile-classes="t_sun_flower")
    regular-tile(tile-classes="t_sun_flower")
    regular-tile(tile-classes="t_sun_flower", buttons="1")
    regular-tile(tile-classes="t_sun_flower", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_sun_flower", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_sun_flower", buttons="1")
    regular-tile(tile-classes="t_sun_flower", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_sun_flower", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_sun_flower", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_sun_flower", cap="Sale")
h3 Regular. Colors override for children elements t_orange
.all_colors_overide_tests
    regular-tile(tile-classes="t_orange")
    regular-tile(tile-classes="t_orange")
    regular-tile(tile-classes="t_orange", buttons="1")
    regular-tile(tile-classes="t_orange", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_orange", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_orange", buttons="1")
    regular-tile(tile-classes="t_orange", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_orange", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_orange", cap="Sale", buttons="1")
h3 Regular. Colors override for children elements t_nephritis
.all_colors_overide_tests
    regular-tile(tile-classes="t_nephritis")
    regular-tile(tile-classes="t_nephritis")
    regular-tile(tile-classes="t_nephritis", buttons="1")
    regular-tile(tile-classes="t_nephritis", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_nephritis", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_nephritis", buttons="1")
    regular-tile(tile-classes="t_nephritis", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_nephritis", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_nephritis", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_nephritis", cap="Sale")
h3 Regular. Colors override for children elements t_pumpkin
.all_colors_overide_tests
    regular-tile(tile-classes="t_pumpkin")
    regular-tile(tile-classes="t_pumpkin")
    regular-tile(tile-classes="t_pumpkin", buttons="1")
    regular-tile(tile-classes="t_pumpkin", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_pumpkin", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_pumpkin", buttons="1")
    regular-tile(tile-classes="t_pumpkin", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_pumpkin", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_pumpkin", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_pumpkin", cap="Sale")
h3 Regular. Colors override for children elements t_peter_river
.all_colors_overide_tests
    regular-tile(tile-classes="t_peter_river")
    regular-tile(tile-classes="t_peter_river")
    regular-tile(tile-classes="t_peter_river", buttons="1")
    regular-tile(tile-classes="t_peter_river", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_peter_river", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_peter_river", buttons="1")
    regular-tile(tile-classes="t_peter_river", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_peter_river", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_peter_river", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_peter_river", cap="Sale")
h3 Regular. Colors override for children elements t_belize_hole
.all_colors_overide_tests
    regular-tile(tile-classes="t_belize_hole")
    regular-tile(tile-classes="t_belize_hole")
    regular-tile(tile-classes="t_belize_hole", buttons="1")
    regular-tile(tile-classes="t_belize_hole", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_belize_hole", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_belize_hole", buttons="1")
    regular-tile(tile-classes="t_belize_hole", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_belize_hole", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_belize_hole", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_belize_hole", cap="Sale")
h3 Regular. Colors override for children elements t_alizarin
.all_colors_overide_tests
    regular-tile(tile-classes="t_alizarin")
    regular-tile(tile-classes="t_alizarin")
    regular-tile(tile-classes="t_alizarin", buttons="1")
    regular-tile(tile-classes="t_alizarin", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_alizarin", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_alizarin", buttons="1")
    regular-tile(tile-classes="t_alizarin", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_alizarin", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_alizarin", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_alizarin", cap="Sale")
h3 Regular. Colors override for children elements t_wisteria
.all_colors_overide_tests
    regular-tile(tile-classes="t_wisteria")
    regular-tile(tile-classes="t_wisteria")
    regular-tile(tile-classes="t_wisteria", buttons="1")
    regular-tile(tile-classes="t_wisteria", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_wisteria", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_wisteria", buttons="1")
    regular-tile(tile-classes="t_wisteria", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_wisteria", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_wisteria", cap="Sale", buttons="1")
    regular-tile(tile-classes="t_wisteria", cap="Sale")