@import 'nib'
//Colors from http://flatuicolors.com/

turquoise_color = #1abc9c
green_sea_color = #16a085
sun_flower_color = #f1c40f
orange_color = #f39c12
emerald_color = #2ecc71
nephritis_color = #27ae60
carrot_color = #e67e22
pumpkin_color = #d35400
peter_river_color = #3498db
belize_hole_color = #2980b9
alizarin_color = #e74c3c
pomegranat_color = #c0392b
amethyst_color = #9b59b6
wisteria_color = #8e44ad
clouds_color = #ecf0f1
silver_color = #bdc3c7
wet_asphalt_color = #34495e
midnight_blue_color = #2c3e50
concrete_color = #95a5a6
asbestos_color = #7f8c8d

//some basic colors
white_color = #FFF
black_color = #000

//steps for hovers
color_ratio = 5
alpha_ratio = 0.35

tile_buttons(c)
  .t_btn
    background-color darken(c, color_ratio)
    &.t_dialog_btn
      &:nth-child(even)
        background-color darken(c, color_ratio + 1)
        &[disabled]
          color lighten(c, color_ratio + 2)
          &:hover, &:active
            color lighten(c, color_ratio + 2)
            background-color darken(c, color_ratio + 1)
      &:nth-child(odd)
        &:hover
          background-color lighten(c, color_ratio + 2)
        &[disabled]
          color darken(c, color_ratio + 2)
          &:hover, &:active
            background-color lighten(c, color_ratio + 2)
    &[disabled]
      color lighten(c, color_ratio + 2)
    &:nth-child(1n+1)
      background-color lighten(c, color_ratio + 1)
      &:hover
        background-color lighten(c, color_ratio)
    &:nth-child(1n+2)
      background-color lighten(c, color_ratio + 2)
      &:hover
        background-color lighten(c, color_ratio)
    &:nth-child(1n+3)
      background-color lighten(c, color_ratio + 3)
      &:hover
        background-color lighten(c, color_ratio)
    &:nth-child(1n+4)
      background-color lighten(c, color_ratio + 4)
      &:hover
        background-color lighten(c, color_ratio)
    &:nth-child(1n+5)
      background-color lighten(c, color_ratio + 5)
      &:hover
        background-color lighten(c, color_ratio)
    &:nth-child(1n+6)
      background-color lighten(c, color_ratio + 6)
      &:hover
        background-color lighten(c, color_ratio)
    &:nth-child(1n+7)
      background-color lighten(c, color_ratio + 7)
      &:hover
        background-color lighten(c, color_ratio)
    &:nth-child(1n+8)
      background-color lighten(c, color_ratio + 8)
      &:hover
        background-color lighten(c, color_ratio)
    &:last-of-type
      background-color lighten(c, color_ratio)
    &:hover
      background-color lighten(c, color_ratio)

tile_bg(c)
  background-color c
  &.t_alpha
    background-color alpha(c, alpha_ratio)
    &:hover
      background-color alpha(darken(c, color_ratio), alpha_ratio)
      .t_btn
        background-color alpha(c, alpha_ratio)
    tile_buttons(alpha(c, alpha_ratio))
  &:hover
    background-color darken(c, color_ratio)
    .t_btn
      background-color c
  tile_buttons(c)

tile_text_color(c)
  color c
  &:hover, &:active, &:focus, &:active:focus
    .t_body
      .description
        color alpha(c, 0.5)
  .t_body
    .description
      color alpha(c, 0.8)
    .value
      color c
  button
    color c
    &:hover, &:active, &:focus, &:active:focus
      color c
  .t_buttons
    button
      color c

scroll(c)
  scrollbar-face-color c
  scrollbar-shadow-color c
  scrollbar-highlight-color c
  scrollbar-3dlight-color c
  scrollbar-darkshadow-color c
  scrollbar-track-color c
  scrollbar-arrow-color c
  &::-webkit-scrollbar
    width 12px
  &::-webkit-scrollbar-track
    -webkit-box-shadow inset 0 0 3px c
  &::-webkit-scrollbar-thumb
    background c
    border 1px solid c
    -webkit-box-shadow: inset 0 0 3px c

marked_elems(c)
  .t_cap, .t_label
    &.t_marked
      background-color darken(c, color_ratio)

.t_turquoise
  tile_text_color(clouds_color)
  tile_bg(turquoise_color)
  marked_elems(turquoise_color)
  .t_body
    scroll(turquoise_color)

.t_green_sea
  tile_text_color(clouds_color)
  tile_bg(green_sea_color)
  marked_elems(green_sea_color)
  .t_body
    scroll(green_sea_color)

.t_sun_flower
  tile_text_color(clouds_color)
  tile_bg(sun_flower_color)
  marked_elems(sun_flower_color)
  .t_body
    scroll(sun_flower_color)

.t_orange
  tile_text_color(clouds_color)
  tile_bg(orange_color)
  marked_elems(orange_color)
  .t_body
    scroll(orange_color)

.t_emerald
  tile_text_color(clouds_color)
  tile_bg(emerald_color)
  marked_elems(emerald_color)
  .t_body
    scroll(emerald_color)

.t_nephritis
  tile_text_color(clouds_color)
  tile_bg(nephritis_color)
  marked_elems(nephritis_color)
  .t_body
    scroll(nephritis_color)

.t_carrot
  tile_text_color(clouds_color)
  tile_bg(carrot_color)
  marked_elems(carrot_color)
  .t_body
    scroll(carrot_color)

.t_pumpkin
  tile_text_color(clouds_color)
  tile_bg(pumpkin_color)
  marked_elems(pumpkin_color)
  .t_body
    scroll(pumpkin_color)

.t_peter_river
  tile_text_color(clouds_color)
  tile_bg(peter_river_color)
  marked_elems(peter_river_color)
  .t_body
    scroll(peter_river_color)

.t_belize_hole
  tile_text_color(clouds_color)
  tile_bg(belize_hole_color)
  marked_elems(belize_hole_color)
  .t_body
    scroll(belize_hole_color)

.t_alizarin
  tile_text_color(clouds_color)
  tile_bg(alizarin_color)
  marked_elems(alizarin_color)
  .t_body
    scroll(alizarin_color)

.t_pomegranat
  tile_text_color(clouds_color)
  tile_bg(pomegranat_color)
  marked_elems(pomegranat_color)
  .t_body
    scroll(pomegranat_color)

.t_amethyst
  tile_text_color(clouds_color)
  tile_bg(amethyst_color)
  marked_elems(amethyst_color)
  .t_body
    scroll(amethyst_color)

.t_wisteria
  tile_text_color(clouds_color)
  tile_bg(wisteria_color)
  marked_elems(wisteria_color)
  .t_body
    scroll(wisteria_color)

.t_clouds
  tile_text_color(black_color)
  tile_bg(clouds_color)
  marked_elems(clouds_color)
  .t_body
    scroll(clouds_color)

.t_silver
  tile_text_color(black_color)
  tile_bg(silver_color)
  marked_elems(silver_color)
  .t_body
    scroll(silver_color)

.t_wet_asphalt
  tile_text_color(clouds_color)
  tile_bg(wet_asphalt_color)
  marked_elems(wet_asphalt_color)
  .t_body
    scroll(wet_asphalt_color)

.t_midnight_blue
  tile_text_color(clouds_color)
  tile_bg(midnight_blue_color)
  marked_elems(midnight_blue_color)
  .t_body
    scroll(midnight_blue_color)