@import 'nib'

//Colors
info_color = #3498db
primary_color = #2980b9
danger_color = #c0392b
warning_color = #d35400
default_color = #8e44ad

//some basic colors
white_color = #FFF
black_color = #000

//steps for hovers
color_ratio = 5
alpha_ratio = 0.35

