@import 'nib'

//steps for hovers
color_ratio = 5

bootstrap(bc, c)
  .nav
    &.nav-tabs
      border-bottom 1px solid lighten(bc, color_ratio + 2)
      li
        a
          background-color darken(bc, color_ratio + 1)
          color c
          border-bottom 1px solid lighten(bc, color_ratio + 2)
          &:hover
            border 1px solid lighten(bc, color_ratio + 2)
        &.active
          a
            background-color lighten(bc, color_ratio + 2)
            border 1px solid lighten(bc, color_ratio + 2)
  .input-group-addon
    color c
    background-color lighten(bc, color_ratio + 2)
    border 1px solid lighten(bc, color_ratio + 2)
  .label
    background-color  lighten(bc, color_ratio + 2)

.t_turquoise
  bootstrap(turquoise_color, clouds_color)

.t_green_sea
  bootstrap(green_sea_color, clouds_color)

.t_sun_flower
  bootstrap(sun_flower_color, clouds_color)

.t_orange
  bootstrap(orange_color, clouds_color)

.t_emerald
  bootstrap(emerald_color, clouds_color)

.t_nephritis
  bootstrap(nephritis_color, clouds_color)

.t_carrot
  bootstrap(carrot_color, clouds_color)

.t_pumpkin
  bootstrap(pumpkin_color, clouds_color)

.t_peter_river
  bootstrap(peter_river_color, clouds_color)

.t_belize_hole
  bootstrap(belize_hole_color, clouds_color)

.t_alizarin
  bootstrap(alizarin_color, clouds_color)

.t_pomegranat
  bootstrap(pomegranat_color, clouds_color)

.t_amethyst
  bootstrap(amethyst_color, clouds_color)

.t_wisteria
  bootstrap(wisteria_color, clouds_color)

.t_clouds
  bootstrap(clouds_color, black_color)

.t_silver
  bootstrap(silver_color, black_color)

.t_wet_asphalt
  bootstrap(wet_asphalt_color, clouds_color)

.t_midnight_blue
  bootstrap(midnight_blue_color, clouds_color)