tile_min_height = 315px
tile_wide = 280px

tile_transition(n)
  transition background-color n ease

tile_bg(c)
  background-color c
  &:hover
    background-color darken(c, 5)
    button
      background-color c
  button
    background-color darken(c, 5)
    &:hover
      background-color lighten(c, 5)

tile_text_color(c)
  color c
  &:hover
    .t_body
      .description
        color alpha(c, 0.5)
  .t_body
    .description
      color alpha(c, 0.8)
    .value
      color c
  button
    color c
    &:hover, &:active, &:focus, &:active:focus
      color c
  .t_buttons
    button
      color c

.tile
  &.t_condensed
    width 245px
  border-radius 5px
  display inline-block
  overflow hidden
  width tile_wide
  min-height tile_min_height
  position relative
  tile_transition(0.6s)
  .t_body
    .description
      transition color 0.6s ease
  &.divided
    .t_body
      padding 0
      .controlls_group
        border-top 1px solid white_color
        padding 15px
    .t_buttons
      border-top 1px solid white_color
  .t_header
    text-align center
    padding 5px
    font-size 24px
  .t_label
    font-size 36px
    padding 15px
    text-align center
  .t_body
    padding 15px
    .t_value
      text-align center
      font-size 18px
      padding 5px 0
    .t_sub_value
      text-align center
      font-size 12px
  .controlls_group
    padding 0
  button
    tile_transition(0.6s)
    &:hover, &:active, &:focus, &:active:focus
      outline none
  .t_buttons
    button
      width 100%
      outline none
      border 0
      min-height 45px
      tile_transition(0.6s)

.t_turquoise
  tile_text_color(white_color)
  tile_bg(turquoise_color)

.t_green_sea
  tile_text_color(white_color)
  tile_bg(green_sea_color)

.t_sun_flower
  tile_text_color(white_color)
  tile_bg(sun_flower_color)

.t_orange
  tile_text_color(white_color)
  tile_bg(orange_color)

.t_emerald
  tile_text_color(white_color)
  tile_bg(emerald_color)

.t_nephritis
  tile_text_color(white_color)
  tile_bg(nephritis_color)

.t_carrot
  tile_text_color(white_color)
  tile_bg(carrot_color)

.t_pumpkin
  tile_text_color(white_color)
  tile_bg(pumpkin_color)

.t_peter_river
  tile_text_color(white_color)
  tile_bg(peter_river_color)

.t_belize_hole
  tile_text_color(white_color)
  tile_bg(belize_hole_color)

.t_alizarin
  tile_text_color(white_color)
  tile_bg(alizarin_color)

.t_pomegranat
  tile_text_color(white_color)
  tile_bg(pomegranat_color)

.t_amethyst
  tile_text_color(white_color)
  tile_bg(amethyst_color)

.t_wisteria
  tile_text_color(white_color)
  tile_bg(wisteria_color)

.t_clouds
  tile_text_color(black_color)
  tile_bg(clouds_color)

.t_silver
  tile_text_color(black_color)
  tile_bg(silver_color)

.t_wet_asphalt
  tile_text_color(white_color)
  tile_bg(wet_asphalt_color)

.t_midnight_blue
  tile_text_color(white_color)
  tile_bg(midnight_blue_color)