@import 'nib'

tile_min_height = 315px
tile_wide = 265px
t_label_height = 42px
t_label_padding = 15px
t_cap_height = 37px
t_cap_padding = 5px
t_button_height = 45px
t_body_v_padding = 30px
t_bottom_space = 45px