@import 'nib'

tile_min_height = 315px
tile_wide = 265px
t_label_height = 42px
t_label_padding = 15px
t_cap_height = 37px
t_cap_padding = 5px
t_button_height = 45px
t_body_v_padding = 30px
t_bottom_space = 45px

tile_transition(n)
  transition background-color n ease

.tile
  margin 4px 2px
  border-radius 5px
  display inline-block
  overflow hidden
  width tile_wide
  position relative
  vertical-align top
  min-height tile_min_height
  tile_transition(0.6s)
  box-sizing content-box
  .t_cap
    text-align center
    padding t_cap_padding
    font-size 24px
    height t_cap_height
    box-sizing content-box
    & + .t_label
      & + .t_body
        height (tile_min_height - (t_cap_height + (t_cap_padding * 2) + (t_label_height + t_label_padding * 2) + t_body_v_padding))
    & + .t_body
      height (tile_min_height - (t_cap_height + (t_cap_padding * 2) + t_body_v_padding ))
  .t_label
    font-size 36px
    height t_label_height
    padding t_label_padding
    text-align center
    box-sizing content-box
    & + .t_body
      height (tile_min_height - ((t_label_height + t_label_padding * 2) + t_body_v_padding))
  .t_body
    overflow-y auto
    overflow-x hidden
    padding 15px
    height (tile_min_height - t_body_v_padding)
    margin-bottom 15px
    box-sizing content-box
    .description
      transition color 0.6s ease
      box-sizing content-box
    .t_value
      text-align center
      font-size 18px
      padding 5px 0
      box-sizing content-box
    .t_sub_value
      text-align center
      font-size 12px
      box-sizing content-box
  .t_controls
    padding 0
    box-sizing content-box
    .t_btn
      width 100%
      outline none
      border 0
      min-height 45px
      margin 0
      padding 0
      tile_transition(0.6s)
      box-sizing content-box
    .t_dialog_btn
      display inline-block
      border-radius 0
      width 50%
      box-sizing content-box
      &:nth-child(even)
        border-bottom-left-radius 0
        border-bottom-right-radius 5px
      &:nth-child(odd)
        float left
        border-bottom-left-radius 5px
        border-bottom-right-radius 0
  .t_btn
    tile_transition(0.6s)
    box-sizing content-box
    &:hover, &:active, &:focus, &:active:focus
      cursor pointer
      outline none
    &:last-of-type
      border-bottom-left-radius 5px
      border-bottom-right-radius 5px
  &.t_promo
    font-size: 5em;
    word-wrap: break-word;
  &.t_condensed
    width (tile_wide - 35px)
  &.t_wide
    width (tile_wide * 2) + 6px
  &.t_tall
    height (tile_min_height * 2) + 6px
    .t_cap
      & + .t_label
        & + .t_body
          height ((tile_min_height * 2) - (t_cap_height + t_label_height + t_body_v_padding))
      & + .t_body
        height ((tile_min_height * 2) - (t_cap_height + t_body_v_padding ))
      .t_label
        & + .t_body
          height ((tile_min_height * 2) - (t_label_height + t_body_v_padding ))
    .t_body
      height (tile_min_height * 2) - t_body_v_padding
  &.t_split
    .t_body
      padding 0
      .t_group
        border-top 1px solid white_color
        padding 15px
    .t_controls
      border-top 1px solid white_color
  &.t_stretch_v
    height initial
    .t_cap
      & + .t_label
        & + .t_body
          height initial
      & + .t_body
        height initial
      .t_label
        & + .t_body
          height initial
    .t_body
      height initial
      overflow-y initial
  &.t_stretch_h
    width initial
