.pt-primary
  color white_color
  background-color primary_color

.pt-info
  color white_color
  background-color info_color

.pt-danger
  color white_color
  background-color danger_color

.pt-warning
  color white_color
  background-color warning_color

scroll(c)
  scrollbar-face-color c
  scrollbar-shadow-color c
  scrollbar-highlight-color c
  scrollbar-3dlight-color c
  scrollbar-darkshadow-color c
  scrollbar-track-color c
  scrollbar-arrow-color c
  &::-webkit-scrollbar
    width 12px
  &::-webkit-scrollbar-track
    -webkit-box-shadow inset 0 0 3px c
  &::-webkit-scrollbar-thumb
    background c
    border 1px solid c
    -webkit-box-shadow: inset 0 0 3px c