tile_transition(n)
  transition background-color n ease, width n ease, height n ease

.tile
  margin 4px 2px
  border-radius 5px
  display inline-block
  overflow hidden
  width tile_wide
  position relative
  vertical-align top
  min-height 425px
  tile_transition(0.6s)
  box-sizing content-box
  .t_cap
    text-align center
    padding t_cap_padding
    font-size 24px
    height t_cap_height
    box-sizing content-box
    tile_transition(0.6s)
  .t_body
    overflow-y auto
    overflow-x hidden
    padding 15px
    height (tile_min_height - t_body_v_padding)
    margin-bottom 15px
    margin-top 15px
    box-sizing content-box
    min-height tile_min_height
    tile_transition(0.6s)
  .t_controls
    padding 0
    box-sizing content-box
    min-height 45px
    tile_transition(0.6s)
    .t_btn
      width 100%
      outline none
      border 0
      min-height 45px
      margin 0
      padding 0
      tile_transition(0.6s)
      box-sizing content-box
    .t_dialog_btn
      display inline-block
      border-radius 0
      width 50%
      box-sizing content-box
      &:nth-child(even)
        border-bottom-left-radius 0
        border-bottom-right-radius 5px
      &:nth-child(odd)
        float left
        border-bottom-left-radius 5px
        border-bottom-right-radius 0
  .t_btn
    tile_transition(0.6s)
    box-sizing content-box
    &:hover, &:active, &:focus, &:active:focus
      cursor pointer
      outline none
    &:last-of-type
      border-bottom-left-radius 5px
      border-bottom-right-radius 5px