h3 Regular tiles

#regulars_tile
    h4 Simple regular tiles
    #simple_regulars_tile
        regular-tile(tile-classes="t_alizarin")
        regular-tile(tile-classes="t_amethyst", cap="Did you know?")
        regular-tile(tile-classes="t_belize_hole", cap="Limitted offer", label="-40%")
        regular-tile(tile-classes="t_pomegranat", label="Yes")
    h4 One Button regular tiles
    #one_button_regulars_tile
        regular-tile(tile-classes="t_wisteria", buttons="1")
        regular-tile(tile-classes="t_emerald", cap="Yep", buttons="1")
        regular-tile(tile-classes="t_silver", cap="Sale", label="-50%", buttons="1")
        regular-tile(tile-classes="t_pomegranat", label="-50%", buttons="1")
    h4 Multiple Buttons regular tiles
    #multiple_buttons_regulars_tile
        regular-tile(tile-classes="t_sun_flower", buttons="7")
        regular-tile(tile-classes="t_orange", cap="One", buttons="7")
        regular-tile(tile-classes="t_carrot", cap="Now", label="You", buttons="7")
        regular-tile(tile-classes="t_green_sea", label="Birthday", buttons="7")
h3 Regular stretchable horizontal tiles
#regulars_stretch_h_tiles
    h4 Simple stretchable horizontal regular tiles
    #simple_regular_stretch_h_tiles
        regular-tile(tile-classes="t_alizarin t_stretch_h")
        regular-tile(tile-classes="t_amethyst t_stretch_h", cap="Did you know?")
        regular-tile(tile-classes="t_belize_hole t_stretch_h", cap="Limitted offer", label="-40%")
        regular-tile(tile-classes="t_pomegranat t_stretch_h", label="Yes")
    h4 One button regular stretchable horizontal tiles
    #one_button_regulars_stretch_h_tiles
        regular-tile(tile-classes="t_wisteria t_stretch_h", buttons="1")
        regular-tile(tile-classes="t_emerald t_stretch_h", cap="Yep", buttons="1")
        regular-tile(tile-classes="t_silver t_stretch_h", cap="Sale", label="-50%", buttons="1")
        regular-tile(tile-classes="t_pomegranat t_stretch_h", label="-50%", buttons="1")
    h4 Multiple Buttons regular stretchable horizontal tiles
    #multiple_buttons_regular_stretch_h_tiles
        regular-tile(tile-classes="t_wisteria t_stretch_h", buttons="3")
        regular-tile(tile-classes="t_emerald t_stretch_h", cap="Yep", buttons="3")
        regular-tile(tile-classes="t_silver t_stretch_h", cap="Sale", label="-50%", buttons="3")
        regular-tile(tile-classes="t_pomegranat t_stretch_h", label="-50%", buttons="3")
h3 Regular stretchable vertical tiles
#regulars_stretch_v_tiles
    h4 Simple stretchable horizonta regular tiles
    #simple_regular_stretch_v_tiles
        regular-tile(tile-classes="t_alizarin t_stretch_v")
        regular-tile(tile-classes="t_amethyst t_stretch_v", cap="Did you know?")
        regular-tile(tile-classes="t_belize_hole t_stretch_v", cap="Limitted offer", label="-40%")
        regular-tile(tile-classes="t_pomegranat t_stretch_v", label="Yes")
    h4 One button regular stretchable vertical tiles
    #one_button_regulars_stretch_v_tiles
        regular-tile(tile-classes="t_wisteria t_stretch_v", buttons="1")
        regular-tile(tile-classes="t_emerald t_stretch_v", cap="Yep", buttons="1")
        regular-tile(tile-classes="t_silver t_stretch_v", cap="Sale", label="-50%", buttons="1")
        regular-tile(tile-classes="t_pomegranat t_stretch_v", label="-50%", buttons="1")
    h4 Multiple Buttons regular stretchable vertical tiles
    #multiple_buttons_regular_stretch_v_tiles
        regular-tile(tile-classes="t_wisteria t_stretch_v", buttons="3")
        regular-tile(tile-classes="t_emerald t_stretch_v", cap="Yep", buttons="3")
        regular-tile(tile-classes="t_silver t_stretch_v", cap="Sale", label="-50%", buttons="3")
        regular-tile(tile-classes="t_pomegranat t_stretch_v", label="-50%", buttons="3")
h3 Condensed tiles
#condensed_tile
    h4 Simple condensed tiles
    #simple_condensed_tile
        regular-tile(tile-classes="t_alizarin t_condensed")
        regular-tile(tile-classes="t_amethyst t_condensed", cap="Did you know?")
        regular-tile(tile-classes="t_belize_hole t_condensed", cap="Limitted offer", label="-40%")
        regular-tile(tile-classes="t_pomegranat t_condensed", label="Yes")
    h4 One Button condensed tiles
    #one_button_condensed_tile
        regular-tile(tile-classes="t_wisteria t_condensed", buttons="1")
        regular-tile(tile-classes="t_emerald t_condensed", cap="Yep", buttons="1")
        regular-tile(tile-classes="t_silver t_condensed", cap="Sale", label="-50%", buttons="1")
        regular-tile(tile-classes="t_pomegranat t_condensed", label="-50%", buttons="1")
    h4 Multiple Buttons condensed tiles
    #multiple_buttons_condensed_tile
        regular-tile(tile-classes="t_wisteria t_condensed", buttons="3")
        regular-tile(tile-classes="t_emerald t_condensed", cap="Yep", buttons="3")
        regular-tile(tile-classes="t_silver t_condensed", cap="Sale", label="-50%", buttons="3")
        regular-tile(tile-classes="t_pomegranat t_condensed", label="-50%", buttons="3")
h3 Condensed stretchable vertical tiles
#condensed_stretch_v_tiles
    h4 Simple stretchable vertical condensed tiles
    #simple_condensed_stretch_v_tiles
        regular-tile(tile-classes="t_alizarin t_condensed t_stretch_v")
        regular-tile(tile-classes="t_amethyst t_condensed t_stretch_v", cap="Did you know?")
        regular-tile(tile-classes="t_belize_hole t_condensed t_stretch_v", cap="Limitted offer", label="-40%")
        regular-tile(tile-classes="t_pomegranat t_condensed t_stretch_v", label="Yes")
    #one_button_condensed_stretch_v_tiles
        regular-tile(tile-classes="t_wisteria t_condensed t_stretch_v", buttons="1")
        regular-tile(tile-classes="t_emerald t_condensed t_stretch_v", cap="Yep", buttons="1")
        regular-tile(tile-classes="t_silver t_condensed t_stretch_v", cap="Sale", label="-50%", buttons="1")
        regular-tile(tile-classes="t_pomegranat t_condensed t_stretch_v", label="-50%", buttons="1")
    h4 Multiple Buttons condensed stretchable vertical tiles
    #multiple_buttons_condensed_stretch_v_tiles
        regular-tile(tile-classes="t_wisteria t_condensed t_stretch_v", buttons="3")
        regular-tile(tile-classes="t_emerald t_condensed t_stretch_v", cap="Yep", buttons="3")
        regular-tile(tile-classes="t_silver t_condensed t_stretch_v", cap="Sale", label="-50%", buttons="3")
        regular-tile(tile-classes="t_pomegranat t_condensed t_stretch_v", label="-50%", buttons="3")
h3 Wide tiles
#wide_tile
    h4 Simple wide tiles
    #simple_wide_tile
        regular-tile(tile-classes="t_alizarin t_wide")
        regular-tile(tile-classes="t_amethyst t_wide", cap="Did you know?")
        regular-tile(tile-classes="t_belize_hole t_wide", cap="Limitted offer", label="-40%")
        regular-tile(tile-classes="t_pomegranat t_wide", label="Yes")
    h4 One Button wide tiles
    #one_button_wide_tile
        regular-tile(tile-classes="t_wisteria t_wide", buttons="1")
        regular-tile(tile-classes="t_emerald t_wide", cap="Yep", buttons="1")
        regular-tile(tile-classes="t_silver t_wide", cap="Sale", label="-50%", buttons="1")
        regular-tile(tile-classes="t_pomegranat t_wide", label="-50%", buttons="1")
    h4 Multiple Buttons wide tiles
    #multiple_buttons_wide_tile
        regular-tile(tile-classes="t_wisteria t_wide", buttons="3")
        regular-tile(tile-classes="t_emerald t_wide", cap="Yep", buttons="3")
        regular-tile(tile-classes="t_silver t_wide", cap="Sale", label="-50%", buttons="3")
        regular-tile(tile-classes="t_pomegranat t_wide", label="-50%", buttons="3")
h3 Wide stretchable vertical tiles
#wide_stretch_v_tiles
    h4 Simple stretchable vertical wide tiles
    #simple_wide_stretch_v_tiles
        regular-tile(tile-classes="t_alizarin t_wide t_stretch_v")
        regular-tile(tile-classes="t_amethyst t_wide t_stretch_v", cap="Did you know?")
        regular-tile(tile-classes="t_belize_hole t_wide t_stretch_v", cap="Limitted offer", label="-40%")
        regular-tile(tile-classes="t_pomegranat t_wide t_stretch_v", label="Yes")
    h4 One button wide stretchable vertical tiles
    #one_button_wide_stretch_v_tiles
        regular-tile(tile-classes="t_wisteria t_wide t_stretch_v", buttons="1")
        regular-tile(tile-classes="t_emerald t_wide t_stretch_v", cap="Yep", buttons="1")
        regular-tile(tile-classes="t_silver t_wide t_stretch_v", cap="Sale", label="-50%", buttons="1")
        regular-tile(tile-classes="t_pomegranat t_wide t_stretch_v", label="-50%", buttons="1")
    h4 Multiple Buttons wide stretchable vertical tiles
    #multiple_buttons_wide_stretch_v_tiles
        regular-tile(tile-classes="t_wisteria t_wide t_stretch_v", buttons="3")
        regular-tile(tile-classes="t_emerald t_wide t_stretch_v", cap="Yep", buttons="3")
        regular-tile(tile-classes="t_silver t_wide t_stretch_v", cap="Sale", label="-50%", buttons="3")
        regular-tile(tile-classes="t_pomegranat t_wide t_stretch_v", label="-50%", buttons="3")
h3 Tall tiles
#tall_tile
    h4 Simple tall tiles
    #simple_tall_tile
        regular-tile(tile-classes="t_alizarin t_tall")
        regular-tile(tile-classes="t_amethyst t_tall", cap="Did you know?")
        regular-tile(tile-classes="t_belize_hole t_tall", cap="Limitted offer", label="-40%")
        regular-tile(tile-classes="t_pomegranat t_tall", label="Yes")
    h4 One Button tall tiles
    #one_button_tall_tile
        regular-tile(tile-classes="t_wisteria t_tall", buttons="1")
        regular-tile(tile-classes="t_emerald t_tall", cap="Yep", buttons="1")
        regular-tile(tile-classes="t_silver t_tall", cap="Sale", label="-50%", buttons="1")
        regular-tile(tile-classes="t_pomegranat t_tall", label="-50%", buttons="1")
    h4 Multiple Buttons tall tiles
    #multiple_buttons_tall_tile
        regular-tile(tile-classes="t_wisteria t_tall", buttons="3")
        regular-tile(tile-classes="t_emerald t_tall", cap="Yep", buttons="3")
        regular-tile(tile-classes="t_silver t_tall", cap="Sale", label="-50%", buttons="3")
        regular-tile(tile-classes="t_pomegranat t_tall", label="-50%", buttons="3")
h3 Tall stretchable horizontal tiles
#tall_stretch_h_tiles
    h4 Simple stretchable horizontal tall tiles
    #simple_tall_stretch_h_tiles
        regular-tile(tile-classes="t_alizarin t_tall t_stretch_h")
        regular-tile(tile-classes="t_amethyst t_tall t_stretch_h", cap="Did you know?")
        regular-tile(tile-classes="t_belize_hole t_tall t_stretch_h", cap="Limitted offer", label="-40%")
        regular-tile(tile-classes="t_pomegranat t_tall t_stretch_h", label="Yes")
    h4 One button tall stretchable horizontal tiles
    #one_button_tall_stretch_h_tiles
        regular-tile(tile-classes="t_wisteria t_tall t_stretch_h", buttons="1")
        regular-tile(tile-classes="t_emerald t_tall t_stretch_h", cap="Yep", buttons="1")
        regular-tile(tile-classes="t_silver t_tall t_stretch_h", cap="Sale", label="-50%", buttons="1")
        regular-tile(tile-classes="t_pomegranat t_tall t_stretch_h", label="-50%", buttons="1")
    h4 Multiple Buttons tall stretchable horizontal tiles
    #multiple_buttons_tall_stretch_h_tiles
        regular-tile(tile-classes="t_wisteria t_tall t_stretch_h", buttons="3")
        regular-tile(tile-classes="t_emerald t_tall t_stretch_h", cap="Yep", buttons="3")
        regular-tile(tile-classes="t_silver t_tall t_stretch_h", cap="Sale", label="-50%", buttons="3")
        regular-tile(tile-classes="t_pomegranat t_tall t_stretch_h", label="-50%", buttons="3")
h3 Splitted tiles
.splitted_tile
    .tile.t_split.t_sun_flower
        .t_body
            .t_group
                | Split tile
            .t_group
                | Split tile
            .t_group
                | Split tile
h3 Promo tiles
.promo_tile
    .tile.t_promo.t_turquoise
        .t_body
            | Promo text tile