h3 Regular tiles

#tile_height_tests
    h4 Tile height tests
    regular-tile(tile-classes="t_alizarin")
    regular-tile(tile-classes="t_amethyst", cap="Did you know?")
    regular-tile(tile-classes="t_belize_hole", cap="Limitted offer")
    regular-tile(tile-classes="t_pomegranat")

#tile_height_tests_with_buttons
    h4 Tile height tests with buttons
    regular-tile(tile-classes="t_alizarin", buttons="1")
    regular-tile(tile-classes="t_amethyst", cap="Did you know?", buttons="1")
    regular-tile(tile-classes="t_belize_hole", cap="Limitted offer", buttons="1")
    regular-tile(tile-classes="t_pomegranat", buttons="1")

#regulars_tile
    h4 Simple regular tiles
    #simple_regulars_tile
        regular-tile(tile-classes="t_alizarin")
        regular-tile(tile-classes="t_amethyst", cap="Did you know?")
        regular-tile(tile-classes="t_belize_hole", cap="Limitted offer")
        regular-tile(tile-classes="t_pomegranat")
    h4 One Button regular tiles
    #one_button_regulars_tile
        regular-tile(tile-classes="t_wisteria", buttons="1")
        regular-tile(tile-classes="t_emerald", cap="Yep", buttons="1")
        regular-tile(tile-classes="t_peter_river", cap="Sale", buttons="1")
        regular-tile(tile-classes="t_pomegranat", buttons="1")
    h4 Dialog Button regular tiles
    #dialog_buttons_regulars_tile
        regular-tile(tile-classes="t_wisteria", dialog-buttons="2")
        regular-tile(tile-classes="t_emerald", cap="Yep", dialog-buttons="2")
        regular-tile(tile-classes="t_peter_river", cap="Sale", dialog-buttons="2")
        regular-tile(tile-classes="t_pomegranat", dialog-buttons="2")
    h4 Dialog Button and common button tiles
    #dialog_buttons_and_common_regulars_stretch_h_tile
        regular-tile(tile-classes="t_wisteria", dialog-buttons="2", buttons="1")
        regular-tile(tile-classes="t_emerald", cap="Yep", dialog-buttons="2", buttons="1")
        regular-tile(tile-classes="t_wisteria", cap="Sale", dialog-buttons="2", buttons="1")
        regular-tile(tile-classes="t_pomegranat", dialog-buttons="2", buttons="1")
    h4 Multiple Buttons regular tiles
    #multiple_buttons_regulars_tile
        regular-tile(tile-classes="t_sun_flower", buttons="7")
        regular-tile(tile-classes="t_orange", cap="One", buttons="7")
        regular-tile(tile-classes="t_carrot", cap="Now", buttons="7")
        regular-tile(tile-classes="t_green_sea", buttons="7")