h3 Container
.pt-container
    .pt-tile
        | tile default
    .pt-tile.pt-primary
        | tile primary
    .pt-tile.pt-info
        | tile info
    .pt-tile.pt-warning
        | tile warning
    .pt-tile.pt-danger
        | tile danger
    .pt-tile
        | tile default
    .pt-tile
        | tile default
    .pt-tile
        | tile default
    .pt-tile
        | tile default
    .pt-tile
        | tile default
    .pt-tile
        | tile default
h3 Solid container
.pt-container.pt-solid
    .pt-tile
    | tile default
    .pt-tile.pt-primary
        | tile primary
    .pt-tile.pt-info
        | tile info
    .pt-tile.pt-warning
        | tile warning
    .pt-tile.pt-danger
        | tile danger
    .pt-tile
        | tile default
    .pt-tile
        | tile default
    .pt-tile
        | tile default
    .pt-tile
        | tile default
    .pt-tile
        | tile default
    .pt-tile
        | tile default
h3 Single tile
.pt-tile
    | Single tile