doctype html
head
    link(rel='stylesheet', href='../stylus/app.css')
html
    body
        .tile.tile_alizarin.spinner
            | asdasd
        .tile.tile_amethyst
            | asdasd
        .tile.tile_wet_asphalt
            | asdasd