doctype html
head
    link(rel='stylesheet', href='../stylus/app.css')
html
    body
        .tile.t_alizarin
            | asdasd
        .tile.t_amethyst
            | asdasd
        .tile.t_wet_asphalt
            | asdasd